@model SP.Models.Unterrichten.Unterthema

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Unterthema</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" asp-items="ViewBag.Id" />
            </div>

            <div class="form-group">
                <label asp-for="Themen" class="control-label"></label>
                <select asp-for="ThemenId" class="form-control" asp-items="ViewBag.ThemaName"></select>
            </div>
            <div class="form-group">
                <label asp-for="NameUntertheme" class="control-label"></label>
                <input asp-for="NameUntertheme" class="form-control" />
                <span asp-validation-for="NameUntertheme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschreibung" class="control-label"></label>
                <input asp-for="Beschreibung" class="form-control" />
                <span asp-validation-for="Beschreibung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beispiele" class="control-label"></label>
                <input asp-for="Beispiele" class="form-control" />
                <span asp-validation-for="Beispiele" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
